<h1>Stacks:</h1>
<%= link_to 'New Stack', new_stack_path, :class =>"button" %>
</br>
</br>
<ol>
  <% @stacks.each do |stack| %>
  <li>
    <h3><%= link_to stack.name, stack %></h3>
    <% unless stack.owner.nil? %>
    <h3>Owned by: <%= stack.owner.email %></h3>
    <% end %>
    <h4><%=stack.description %></h4>
  </li>
  <% end %>
</ol>
<% if !current_user.nil? %>
<%= link_to 'Back', current_user, :class =>"button" %>
<% end %>