<h1><%= @stack.name %></h1>
<p><%=@stack.description %> </p>  
<% if !current_user.nil? && !current_user.stacks.include?(@stack)%>
  <p> <%= link_to 'Study this stack', study_stack_path(@stack), method: "post",:class => "btn btn-default" %></p>
  <% end %>

<h2>Cards in the stack</h2>

<ol>
  <% @stack.cards.each do |card| %>
  <li><%= link_to card.question.split("\n").first, card %></li>
  <% end %>
</ol>

<%= link_to 'Add New Card', new_stack_card_path(@stack) , method:"get", :class =>"btn btn-default" %>

<%= link_to 'Edit', edit_stack_path(@stack), :class =>"btn btn-default" %>
<%= link_to 'Back', stacks_path, :class =>"btn btn-default" %>