<h1><%= @stack.name %></h1>

<% if !current_user.nil? %>
<!-- implement studying this stack -->
  <p> Placeholder for studying a stack </p>
  <% end %>

<h2>Cards in the stack</h2>

<ol>
  <% @stack.cards.each do |card| %>
  <li><%= link_to card.question.split("\n").first, card %></li>
  <% end %>
</ol>

<%= link_to 'Add New Card', new_card_path(@stack.id) , method:"get", :class =>"button" %>
<!-- 
<%= link_to 'Edit', edit_stack_path(@stack), :class =>"button" %>
<%= link_to 'Back', stacks_path, :class =>"button" %> -->