<!-- User Card -->
<div class = "panel panel-default">
  <div class = "panel-title"><h3><%= @card.stack.name %></h3></div>
  <div class = "panel-body">

<div class="col-md-12 col-md-offset-1 text-center">
  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <h2>Question:</h2>
        <div class="text-center"> <%= markdown(@card.question) %></div>
      </div>
      <div class="back">
        <h2>Answer:
        </h2>
        <div class="text-center">
        <%= markdown(@card.answer) %>
        </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
  <div class="cardbottom">
    <p class="col-md-12 col-md-offset-1">Rank how well you know the answer from 0 - 5 with 5 being "I totally know it!"</p>
          <div class="col-md-12 col-md-offset-1 btn-group">
          <%= link_to '0 - Blanked Out', processQ_path(@recall,:val=>0),:method => "post",:class =>"btn btn-default btn-lg"%>
          <%= link_to '1', processQ_path(@recall,:val=>1),:method => "post",:class =>"btn btn-default btn-lg"%>
          <%= link_to '2', processQ_path(@recall,:val=>2),:method => "post",:class =>"btn btn-default btn-lg"%>
          <%= link_to '3', processQ_path(@recall,:val=>3),:method => "post",:class =>"btn btn-default btn-lg"%>
          <%= link_to '4', processQ_path(@recall,:val=>4),:method => "post",:class =>"btn btn-default btn-lg"%>
          <%= link_to '5 - Perfect Recall', processQ_path(@recall,:val=>5),:method => "post",:class =>"btn btn-default btn-lg"%>
        </div>
</div>
</br>
<div class="footer">
<%
data ={
:easiness_factor => "Easiness Factor",
:quality_of_last_recall => "Quality of Last Recall",
:repetition_interval => "Repetition Interval",
:number_repetitions => "Number of Repetitions",
:next_repetition => "Next Repetition",
:last_studied => "Last Studied"
}
%>
<% if debug=true %>
<table class="table">
  <thead>
    <% data.each_value do |val| %>
    <td><%= val %></td>
    <% end %>
  </thead>
  <tr>
    <% data.each_key do |key| %>
    <td><%= @recall.send(key) %></td>
    <% end %>
  </tr>
</table>
<% end %>


<%= link_to 'Reset', reset_path(@recall),:method => "post",:class =>"btn btn-default btn-lg"%>
<% if @stack.owner == current_user %>
<%=  link_to 'Edit', edit_card_path(@recall.card), :class =>"btn btn-default btn-lg" %>
<% end %>
<%= link_to 'Back', user_stack_path(@user_stack),:class =>"btn btn-default btn-lg" %>
</div>